<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Admin Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../static/css/guru.css" th:href="@{css/guru.css}"
	rel="stylesheet" media="screen" />

</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<img src="../static/images/admin-account-dnn7-1.png" width="500"
				th:src="@{images/admin-account-dnn7-1.png}" />
			<h1>Admin Page</h1>

			<h2>List of users</h2>
		</div>
	</div>
</body>
</html>