<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Admin Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Include one of jTable styles. -->
<link href="../../static/jtable/themes/metro/blue/jtable.css"
	th:href="@{jtable/themes/metro/blue/jtable.css}" rel="stylesheet"
	type="text/css" />
<link href="../../static/js/jquery-ui.css" th:href="@{js/jquery-ui.css}"
	rel="stylesheet" type="text/css" />

<!-- Include jTable script file. -->
<script src="../../static/js/jquery-1.10.2.js"
	th:src="@{js/jquery-1.10.2.js}" type="text/javascript"></script>
<script src="../../static/js/jquery-ui.js" th:src="@{js/jquery-ui.js}"
	type="text/javascript"></script>
<script src="../../static/jtable/jquery.jtable.js"
	th:src="@{jtable/jquery.jtable.js}" type="text/javascript"></script>




</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<img src="../static/images/admin-account-dnn7-1.png" width="100"
				th:src="@{images/admin-account-dnn7-1.png}" />
			<h1>Admin Page</h1>

			<h2>List of users</h2>
			<div id="UserTableContainer"></div>



		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			$('#UserTableContainer').jtable({
				title : 'Table of users',
				actions : {
					listAction : 'admin/users',
					createAction : 'admin/addUser',
					updateAction : 'admin/updateUser',
					deleteAction : 'admin/deleteUser'
				},
				fields : {
					id : {
						key : true,
						list : true,
						title : 'Id',
						width : '5%',
						create : false,
						edit : false
					},
					name : {
						title : 'Name',
						width : '30%'
					},
					login : {
						title : 'Login',
						width : '20%'
					},
					email : {
						title : 'E-mail',
						width : '30%'
					},
					password : {
						title : 'Password',
						width : '10%'
					}
				}
			});
			$('#UserTableContainer').jtable('load');
		});
	</script>
</body>
</html>